body {
  font: 16px "Roboto", sans-serif;
  min-width: 1000px;
}

.container {
  position: relative;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.container:before, .container:after {
  display: table;
  content: ' ';
}

.container:after {
  clear: both;
}

.b-screen {
  overflow: hidden;
}

.b-title {
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 300;
}

.b-title b {
  font-weight: 700;
}

.b-btn {
  border: 0;
  text-decoration: none;
  width: 320px;
  height: 51px;
  line-height: 50px;
  background-color: #ff9c3b;
  background-image: linear-gradient(to top, #dd5e00 0%, #ff9e3f 100%);
  border-radius: 4px;
  display: block;
  border-bottom: 4px solid #a25103;
  text-shadow: 0 -1px 0 rgba(159, 72, 5, 0.93);
  color: rgba(255, 255, 255, 0.84);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.b-btn:hover {
  background-image: linear-gradient(to bottom, #dd5e00 0%, #ff9e3f 100%);
}

.b-sect1 {
  background: url(../img/yellow-line.png) center bottom repeat-x, url(../img/s1bg.jpg) center no-repeat;
  background-color: #555555;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  padding: 40px 0 380px;
}

.b-sect1__header {
  margin-bottom: 65px;
}

.b-sect1__header:before, .b-sect1__header:after {
  display: table;
  content: ' ';
}

.b-sect1__header:after {
  clear: both;
}

.b-sect1__logo {
  margin-left: 155px;
  float: left;
}

.b-sect1__right {
  float: right;
  text-align: right;
  margin-top: 35px;
}

.b-sect1__tel {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 900;
  display: block;
}

.b-sect1__time {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 5px;
}

.b-sect1__main {
  color: white;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 37px;
  font-weight: 300;
  line-height: 1.54;
  width: 630px;
  text-align: center;
}

.b-sect1__title {
  font-size: 84px;
  font-weight: 500;
  line-height: 1.1;
}

.b-sect2 {
  background: url(../img/s2bg.jpg) center no-repeat;
  background-size: cover;
  padding: 85px 0 20px;
}

.b-sect2__title {
  margin-bottom: 60px;
}

.b-sect2__row {
  font-size: 0;
  text-align: center;
}

.b-sect2__item {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  margin-bottom: 65px;
}

.b-sect2__img {
  width: 237px;
  height: 236px;
  margin: 0 auto 10px;
  background: url(../img/s2item-bg.png) 0 0 no-repeat;
  padding-top: 13px;
  position: relative;
}

.b-sect2__img img {
  width: 196px;
  height: 180px;
  display: inline-block;
  border-radius: 35px;
}

.b-sect2__img:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img/s2item-bg-top.png) 0 0 no-repeat;
}

.b-sect2__item-text {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
}

.b-sect3 {
  background: url(../img/s3bg.jpg) center repeat;
  padding: 90px 0;
}

.b-sect3__content {
  color: #14180e;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-left: auto;
  width: 475px;
}

.b-sect3__title {
  text-align: left;
  color: #14180e;
  line-height: 1.38;
  margin-bottom: 15px;
}

.b-sect4 {
  background: url(../img/s4bg.jpg) center top no-repeat;
  padding: 130px 0 140px;
  background-size: cover;
}

.b-sect4__box {
  width: 399px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #ffde00;
  margin-left: auto;
  text-align: center;
  padding: 34px 0;
}

.b-sect4__title {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 27px;
  font-weight: 300;
  line-height: 1.19;
  text-transform: uppercase;
}

.b-sect4__title--bold {
  font-weight: 700;
  margin-bottom: 10px;
}

.b-sect4__logo {
  width: 292px;
  margin: 10px auto 30px;
  display: block;
}

.b-sect4__btn {
  margin: 0 auto;
}

.b-sect4--left .b-sect4__box {
  margin-left: 0;
}

.b-sect4--bg1 {
  background-image: url(../img/s4bg2.jpg);
  padding: 80px 0 55px;
}

.b-sect5 {
  background: url(../img/s5bg.jpg) center no-repeat;
  padding-top: 130px;
  height: 1000px;
  background-size: cover;
  background-attachment: fixed;
}

.b-sect5__row {
  font-size: 0;
  text-align: center;
}

.b-sect5__item {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}

.b-sect5__img {
  width: 213px;
  height: 210px;
  margin: 0 auto;
  line-height: 151px;
  padding-right: 5px;
  background: url(../img/s5icon-bg.png) 0 0 no-repeat;
}

.b-sect5__img img {
  display: inline-block;
  vertical-align: middle;
}

.b-sect5__item-text {
  color: rgba(255, 255, 255, 0.82);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  margin-top: -20px;
}

.b-sect6 {
  background: url(../img/s6bg.jpg) center no-repeat;
  padding-top: 160px;
  padding-bottom: 140px;
}

.b-sect6__content {
  padding-left: 400px;
  text-align: center;
}

.b-sect6__title {
  color: black;
  margin-bottom: 30px;
  font-size: 36px;
}

.b-sect6__title b {
  font-size: 54px;
}

.b-sect6__text {
  font-size: 21px;
  font-weight: 300;
}

.b-sect6__row {
  font-size: 0;
}

.b-sect6__row img {
  margin: 0 10px;
  display: inline-block;
  vertical-align: top;
}

.b-sect7 {
  background: url(../img/yellow-line.png) center bottom repeat-x, url(../img/yellow-line.png) center top repeat-x, url(../img/s7bg.jpg) center no-repeat;
  background-size: auto, auto, cover;
  padding-top: 80px;
  height: 920px;
}

.b-sect9 {
  position: relative;
}

.b-sect9__map {
  height: 540px;
}

.b-sect9__black-wrap {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 44%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.82);
}

.b-sect9__content {
  width: 455px;
  text-align: center;
}

.b-sect9__logo {
  display: block;
  margin: 50px auto 5px;
}

.b-sect9__logo img {
  width: 210px;
}

.b-sect9__top-text {
  color: #fff;
  font-size: 15px;
  line-height: 1.3;
  font-weight: 400;
}

.b-sect9__top-text p {
  margin: 10px 0;
}

.b-sect9__upp {
  font-family: Arial;
  font-weight: 700;
  text-transform: uppercase;
}

.b-sect9__tel {
  color: white;
  font-size: 29px;
  font-weight: 700;
  text-decoration: none;
  line-height: 1.5;
}

.b-sect9__copyright {
  color: rgba(255, 255, 255, 0.36);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}

.b-sect9__time {
  display: block;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 300;
}
