*,
*:before,
*:after{
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}

img{
	height: auto;
	max-width: 100%;
}
figure {
	position: relative;
}
a,
a:link,
a:visited,
a:hover,
a:active,
a:focus{
	color: #000;
	text-decoration: none;
	outline: none;
}
figure img,
figure video,
figure object,
figure embed {
	display:block;
	max-width: 100%;
}
.left{
	float: left;
}
.right{
	float: right;
}
.fixed{
	position: fixed;
}
.clear:before,
.clear:after,
.container:before,
.container:after,
.wrapper:before,
.wrapper:after {
    content: " ";
    display: table;
}
.clear:after,
.container:after,
.wrapper:after
 {
    clear: both;
}
/* IE6/7 support */
.clear,
.container,
.wrapper {
    *zoom: 1;
}
.padding-left-zero{
	padding-left: 0;
}
.padding-left-5{
	padding-left: 5px;
}
.padding-left-4{
	padding-left: 4px;
}
.padding-right-zero{
	padding-right: 0;
}
.padding-right-5{
	padding-right: 5px;
}
.padding-all-zero{
	padding: 0;
}
.vertical-middle{
	position:absolute;
	top:50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.gorizontal-center{
	position:absolute;
	left:50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.middle-center{
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
input:focus, input:active,
button:focus, button:active,
textarea:focus, textarea:active{
	outline: none;
}
ul, ol {
    margin: 0;
}

input.form-control::-webkit-input-placeholder       {color: #979797; opacity: 1; transition: opacity 0.3s ease;}
input.form-control::-moz-placeholder                {color: #979797; opacity: 1; transition: opacity 0.3s ease;}
input.form-control:-moz-placeholder                 {color: #979797; opacity: 1; transition: opacity 0.3s ease;}
input.form-control:-ms-input-placeholder            {color: #979797; opacity: 1; transition: opacity 0.3s ease;}
input.form-control:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input.form-control:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input.form-control:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input.form-control:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

textarea.form-control::-webkit-input-placeholder       {color: #cacaca; opacity: 1; transition: opacity 0.3s ease;}
textarea.form-control::-moz-placeholder                {color: #cacaca; opacity: 1; transition: opacity 0.3s ease;}
textarea.form-control:-moz-placeholder                 {color: #cacaca; opacity: 1; transition: opacity 0.3s ease;}
textarea.form-control:-ms-input-placeholder            {color: #cacaca; opacity: 1; transition: opacity 0.3s ease;}
textarea.form-control:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea.form-control:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea.form-control:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea.form-control:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}


body{
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
    background: #fff;
}


@media (min-width: 1294px){
    .container {
        width: 1264px;
    }
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~HEADER~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

header{
    background: url(../img/header-bg.jpg) no-repeat left center;
    height: 812px;
    position: relative;
}
.header-shadow{
    height: 374px;
    width: 100%;
    background: url(../img/header-shadow.png) repeat-x;
    position: absolute;
    left: 0;
    top: 0;
}

.header-logo-phone{
    position: relative;
    padding: 26px 0;
    margin-bottom: 23px;
    z-index: 2;
}
.header-logo-phone:after{
    content: '';
    display: table;
    clear: both;
}
.header-logo{
    float: left;
}
.header-phone{
    float: right;
}
.header-slog{
    position: absolute;
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
    white-space: nowrap;
    font-size: 21.92px;
    line-height: 26px;
    font-weight: 300;
}
.header-logo a{
    display: block;
    position: relative;
    padding-left: 96px;
    padding-top: 8px;
}
.header-logo a:before{
    content: '';
    width: 84px;
    height: 80px;
    background: url(../img/logo.png) no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: 0;
}

.header-logo-text{
    font-size: 19.33px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
}

.header-phone-text{
    font-size: 12.58px;
    line-height: 17px;
    font-weight: 300;
    color: rgba(255,255,255,0.57);
    letter-spacing: 0.1em;
}
.header-phone span{
    display: block;
    margin-bottom: 3px;
}
.header-phone span > a{
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    color: #fff;
}
.header-phone > a{
    display: block;
    padding: 7px 0;
    font-size: 12.88px;
    line-height: 17px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background: #6da4ff;
    border-bottom: 3px solid #367bed;
    border-radius: 4px;
    transition: border-color 0.3s;
}
.header-phone > a:hover{
    border-color: #6da4ff;
}

.header-right {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(81,81,81,0.87);
    width: 760px;
    padding-top: 190px;
}
.header-right-inn{
    width: 394px;
    margin: 0 auto;
}
.header-right-title{
    font-size: 48px;
    line-height: 52px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 22px;
}
.header-right-title span{
    display: block;
    font-size: 29px;
    line-height: 33px;
    font-weight: 100;
}
.form-label{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 8px;
}

.form-control {
    display: block;
    width: 100%;
    height: 62px;
    padding: 20px 20px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.btn {
    display: inline-block;
    width: 100%;
    padding: 9px 0px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    color: #fff;
    background: #e49a27;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-bottom: 5px solid #c37b0b;
    transition: border-color 0.3s;
    border-radius: 6px;
}
.btn:hover, .btn:focus, .btn.focus {
    color: #fff;
    opacity: 1;
    border-color: #e49a27;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-vert .form-group-last {
    margin-top: 36px;
}

.form-vert .form-group {
    margin-bottom: 30px;
}

.form-ps{
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: #fff;
    padding-left: 30px;
    position: relative;
}
.form-ps:before{
    content: '';
    width: 20px;
    height: 27px;
    background: url(../img/ps.png) no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
}


.header-left{
    font-size: 29.54px;
    line-height: 34px;
    font-weight: 700;
    color: #fff;
    background: #6da4ff;
    display: inline-block;
    padding: 20px;
    position: relative;
}
.header-left span{
    position: absolute;
    left: 0;
    top: 100%;
    font-size: 21.17px;
    line-height: 25px;
    font-weight: 300;
    color: #fff;
    background: rgba(34,67,114,0.85);
    padding: 15px 20px;
}


@media (max-width: 1600px) {
    .header-right {
        width: 600px;
        padding-top: 190px;
    }
}

@media (max-width: 1400px) {
    .header-right {
        width: 500px;
        padding-top: 190px;
    }
}

@media (max-width: 991px) {

    .header-logo a:before {
        content: '';
        width: 64px;
        height: 60px;
        background: url(../img/logo.png) no-repeat;
        background-size: cover;
        position: absolute;
        top: 50%;
        margin-top: -30px;
        left: 0;
    }
    .header-logo-text {
        font-size: 16px;
        line-height: 20px;
    }
    .header-logo a {
        padding-left: 73px;
        padding-top: 11px;
    }
    .header-slog {
        font-size: 16px;
        line-height: 20px;
    }
    .header-phone-text {
        letter-spacing: 0.005em;
    }
    .header-phone span > a {
        font-size: 24px;
        line-height: 28px;
    }
    .header-phone > a {
        font-size: 12px;
        line-height: 16px;
    }

    .header-left {
        font-size: 20px;
        line-height: 24px;
        padding: 15px 15px;
    }
    .header-left span {
        font-size: 18px;
        line-height: 22px;
        padding: 12px 15px;
    }
    .header-right {
        width: 394px;
        padding-top: 210px;
    }

    .header-right-title {
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 22px;
    }
    .header-right-title span {
        font-size: 23px;
        line-height: 27px;
    }
    .form-label {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 8px;
    }
    .form-control {
        height: 54px;
        padding: 17px 15px;
        font-size: 16px;
        line-height: 20px;
    }
    .form-vert .form-group {
        margin-bottom: 20px;
    }
    .btn {
        padding: 7px 0px;
        font-size: 16px;
        line-height: 20px;
    }
    .header-right-inn {
        width: 320px;
        margin: 0 auto;
    }
    .form-vert .form-group-last {
        margin-top: 32px;
    }
    .form-ps {
        font-size: 14px;
        line-height: 20px;
        padding-left: 20px;
    }
    .form-ps:before {
        content: '';
        width: 15px;
        height: 20px;
        background: url(../img/ps.png) no-repeat;
        background-size: cover;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -11px;
    }


}

@media (max-width: 767px) {


    header .col-xs-12{
        padding: 0 15px;
    }
    .header-logo {
        float: none;
        width: 190px;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .header-logo a {
        padding-left: 73px;
        padding-top: 0px;
    }
    .header-slog {
        font-size: 16px;
        line-height: 20px;
        position: static;
        left: 0;
        top: 0;
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
        margin-bottom: 15px;
    }
    .header-phone {
        float: none;
        width: 190px;
        margin: 0 auto;
        text-align: center;
    }
    .header-phone > a {
        font-size: 12px;
        line-height: 16px;
    }

    .header-right {
        width: 100%;
        padding-top: 0;
        position: static;
        padding-bottom: 20px;
        height: auto;
    }
    .header-logo-phone {
        padding: 20px 0;
    }

    header .container {
        background: rgba(81,81,81,0.87);
    }
    .header-left {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        padding: 10px 10px;
        width: 250px;
        margin: 0 auto;
        display: block;
        margin-bottom: 100px;
    }
    .header-left span {
        font-size: 14px;
        line-height: 18px;
        padding: 10px 10px;
        width: 100%;
    }
    .header-right-inn {
        width: 100%;
        max-width: 290px;
        margin: 0 auto;
    }
    .header-right-title {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 18px;
        text-align: center;
    }
    .header-right-title span {
        font-size: 18px;
        line-height: 22px;
    }
    .form-label {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 7px;
    }
    .form-control {
        height: 46px;
        padding: 14px 15px;
        font-size: 14px;
        line-height: 18px;
    }
    .form-vert .form-group {
        margin-bottom: 15px;
    }
    .btn {
        padding: 6px 0px;
        font-size: 14px;
        line-height: 18px;
    }
    .form-vert .form-group-last {
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .form-ps {
        font-size: 12px;
        line-height: 16px;
        padding-left: 20px;
    }
    header {
        background: #eee url(../img/header-bg.jpg) no-repeat left center;
        height: auto;
        position: relative;
    }



}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~BLOCk-2~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.b-2{
    padding-top: 70px;
}
.b-2 .container{
    overflow: hidden;
}
.padding-all-64{
    padding: 0 64px;
}

.title{
    font-size: 48px;
    line-height: 52px;
    font-weight: 700;
    color: #3b3b3b;
    text-align: center;
    margin-bottom: 40px;
}
.title span{
    display: block;
    font-weight: 100;
}

.b-2-line{
    position: relative;
    margin: 0 -20px;
}
.b-2-line:after{
    content: '';
    display: table;
    clear: both;
}
.b-2-item{
    float: left;
    width: 33.333%;
    padding: 20px;
}
.b-2-item-inn{
    background: #f5f5f5;
    padding: 30px 50px;
}
.b-2-item-title{
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color: #000;
}
.b-2-item-text{
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #6a6a6a;
}
.b-2-item-img{
    margin-bottom: 6px;
}

.b-2-line2{
    left: 16.66666667%;
}



@media (max-width: 1199px) {
    .padding-all-64{
        padding: 0 15px;
    }
    .b-2-item-inn {
        padding: 20px 30px;
    }
    .b-2-item-img img{
        height: 60px;
    }
    .b-2-item-title {
        font-size: 22px;
        line-height: 26px;
    }
    .b-2-item-text {
        font-size: 16px;
        line-height: 22px;
    }
    .b-2-item{
        padding: 15px;
    }
    .b-2-line {
        position: relative;
        margin: 0 -15px;
    }
}

@media (max-width: 991px) {

    .b-2-item-img img {
        height: 40px;
    }
    .b-2-item-inn {
        padding: 15px 20px;
    }
    .b-2-item-title {
        font-size: 18px;
        line-height: 22px;
    }
    .b-2-item-text {
        font-size: 15px;
        line-height: 19px;
    }
    .b-2-item{
        padding: 10px;
    }
    .b-2-line {
        position: relative;
        margin: 0 -10px;
    }

    .title {
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 20px;
    }

}

@media (max-width: 767px) {
    .b-2 {
        padding-top: 30px;
    }
    .title {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .b-2-line {
        margin: 0;
    }
    .b-2-item {
        float: none;
        width: 100%;
        padding: 10px 0;
    }
    .b-2-line2 {
        left: 0;
    }
    .b-2-item-inn {
        height: auto !important;
    }
    .b-2-item-inn br{
        display: none;
    }



}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~BLOCk-3~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.b-3{
    padding-top: 90px;
    overflow: hidden;
}
.b-3-line{
    position: relative;
}
.b-3-line:after{
    content: '';
    display: table;
    clear: both;
}
.b-3-item{
    float: left;
    width: 50%;
}
.b-3-item-l{
    background: #575754;
}
.b-3-item-r{
    background: #f5f5f5;
    padding: 25px 0;
    padding-left: 90px;
    padding-right: 65px;
    display: table;
}
.b-3-item-r-inn{
    display: table-cell;
    vertical-align: middle;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.b-3-item-l-info{
    background: #575754;
    color: rgba(255,255,255,0.76);
    font-size: 18.25px;
    line-height: 22px;
    font-weight: 300;
    padding: 15px 30px;
}
.b-3-item-l-info span{
    display: block;
    font-weight: 700;
}

.b-3-item-r-line{
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    color: rgba(0,0,0,0.57);
    position: relative;
    padding-left: 56px;
    margin-bottom: 36px;
}
.b-3-item-r-line:before{
    content: '';
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0;
    top: 0;
}
.b-3-item-r-line-1:before{
    background: url(../img/b-3-img-1.png) no-repeat;
    background-size: cover;
}
.b-3-item-r-line-2:before{
    background: url(../img/b-3-img-2.png) no-repeat;
    background-size: cover;
}
.b-3-item-r-line-3:before{
    background: url(../img/b-3-img-3.png) no-repeat;
    background-size: cover;
}


.b-3-btn a {
    display: inline-block;
    width: 360px;
    padding: 9px 0px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    color: #fff;
    background: #6da4ff;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border-bottom: 5px solid #367bed;
    transition: border-color 0.3s;
    border-radius: 6px;
}
.b-3-btn a:hover {
    border-color: #6da4ff;
}


@media (max-width: 1199px) {

    .b-3-item-r {
        padding: 15px 50px;
    }
    .b-3-item-r-line {
        font-size: 16px;
        line-height: 20px;
        padding-left: 51px;
        margin-bottom: 30px;
    }
    .b-3-item-r-line:before{
        content: '';
        width: 40px;
        height: 40px;
        position: absolute;
        left: 0;
        top: 0;
    }

}

@media (max-width: 991px) {

    .b-3-btn a {
        width: 100%;
        padding: 7px 0px;
        font-size: 16px;
        line-height: 20px;
    }
    .b-3-item-r {
        padding: 15px 20px;
    }
    .b-3-item-r-line {
        font-size: 14px;
        line-height: 18px;
        padding-left: 44px;
        margin-bottom: 25px;
    }
    .b-3-item-r-line:before{
        content: '';
        width: 32px;
        height: 32px;
        position: absolute;
        left: 0;
        top: 0;
    }
    .b-3-item-l-info {
        font-size: 16px;
        line-height: 20px;
        padding: 15px 20px;
    }

}


@media (max-width: 767px) {

    .b-3 {
        padding-top: 30px;
    }
    .b-3-item {
        float: none;
        width: 100%;
        height: auto !important;
    }
    .b-3-item-l {
        background: transparent;
    }
    .b-3-item-l-info {
        font-size: 14px;
        line-height: 18px;
        padding: 15px 15px;
    }
    .b-3-item-r {
        padding: 20px 15px;
    }

    .b-3-btn a  {
        padding: 6px 0px;
        font-size: 14px;
        line-height: 18px;
        max-width: 290px;
        margin:  0 auto;
        display: block;
    }
    .b-3-item-r-line {
        font-size: 13px;
        line-height: 18px;
        padding-left: 44px;
        margin-bottom: 20px;
    }



}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~BLOCk-4~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.b-4{
    padding-top: 110px;
}

.nav-tabs {
    border-bottom: 0;
}
.nav-tabs > li {
    float: left;
    margin-bottom: 0px;
    width: 20%;
    text-align: center;
}
.nav-tabs > li > a {
    margin-right: 0px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    position: relative;
    display: block;
    padding: 10px 0px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 0;
    border-bottom-color: transparent;
}
.nav-tabs > li.active > a .tab-bg,
.nav-tabs > li.active > a:hover .tab-bg,
.nav-tabs > li.active > a:focus .tab-bg{
    background: rgba(205,205,205,0.32);
}
.tab-bg{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}
.nav > li > a:hover .tab-bg, .nav > li > a:focus .tab-bg {
    background: rgba(205,205,205,0.32);
}

.slider-for{
    margin-bottom: 0px;
}
.slider-for .slick-slide{
    padding: 0px;
}
.slider-nav .slick-slide{
    cursor: pointer;
}
.slider-nav .slick-slide.slick-current{
    cursor: default;
}

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane, .pill-content > .pill-pane {
    display: block;    /* undo display:none          */
    height: 0;         /* height:0 is also invisible */
    overflow: hidden;  /* no-overflow                */
}
.tab-content > .active, .pill-content > .active {
    height: auto;      /* let the content decide it  */
} /* bootstrap hack end */



.fn-slider-info{
    position: absolute;
    left: 0;
    top: 0;
    padding: 25px 30px;
    background: rgba(42,72,126,0.83);
}
.fn-slider-info-line{
    font-size: 16.49px;
    line-height: 20px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 20px;
}
.fn-slider-info-price{
    font-size: 16.49px;
    line-height: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}

.form-hor{
    background: #5b5a5a;
    padding: 54px 45px;
    padding-bottom: 92px;
    position: relative;
}
.form-hor:after{
    content: '';
    display: table;
    clear: both;
}
.form-hor .form-group {
    margin-bottom: 15px;
    float: left;
    width: 33.333%;
    padding: 0 20px;
}
.form-hor .btn {
    padding: 6px 0px;
}

.form-hor .form-ps {
    position:absolute;
    left:50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 44px;
}

.tab-pane > div{
    background: #5b5a5a;
}
.nav > li > a > img {
    max-width: 100%;
}


@media (max-width: 1199px) {

    .form-hor{
        padding: 54px 20px;
        padding-bottom: 92px;
    }

}

@media (max-width: 991px) {

    .form-hor{
        padding: 34px 15px;
        padding-bottom: 72px;
    }
    .form-hor .form-group {
        padding: 0 10px;
    }
    .form-hor .btn {
        padding: 4px 0px;
    }
    .form-hor .form-ps {
        bottom: 34px;
    }

}

@media (max-width: 767px) {
    .b-4 {
        padding-top: 30px;
    }
    .nav-tabs > li > a {
        padding: 1px 0px;
    }
    .fn-slider-info {
        padding: 5px 5px;
    }
    .fn-slider-info-line {
        font-size: 11px;
        line-height: 15px;
        margin-bottom: 4px;
    }
    .fn-slider-info-price {
        font-size: 11px;
        line-height: 15px;
        margin-bottom: 0px;
    }
    .form-hor .form-group {
        margin-bottom: 15px;
        float: none;
        width: 100%;
        padding: 0 20px;
    }
    .form-hor {
        padding: 25px 0px;
        padding-bottom: 45px;
    }
    .form-hor .form-ps {
        bottom: 23px;
        white-space: nowrap;
        font-size: 11px;
    }

}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~BLOCk-5~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.b-5{
    padding-top: 80px;
    padding-bottom: 76px;
}
.b-5 .title{
    margin-bottom: 40px;
}
.slick-prev, .slick-next {
    opacity: 1;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    opacity: .75;
}
.slick-slide:focus {
    outline: none;
}

.slick-prev, .slick-next {
    width: 30px;
    height: 54px;
    margin-top: -27px;
}
.slick-prev {
    background: url(../img/prev-btn.png) no-repeat top center;
    background-size: cover;
    left: -64px;
}
.slick-next {
    background: url(../img/next-btn.png) no-repeat top center;
    background-size: cover;
    right: -64px;
}

.rev-slider-item{
    border: 8px solid #eee;
    padding: 70px 190px;
}
.rev-t{
    display: table;
    width: 100%;
    margin-bottom: 15px;
}
.rev-t1{
    display: table-cell;
    vertical-align: middle;
    width: 37px;
}
.rev-t2{
    display: table-cell;
    vertical-align: middle;
    padding-left: 7px;
    color: rgba(0,0,0,0.7);
    font-size: 15px;
    line-height: 19px;
    font-weight: 300;
}
.rev-t1 img{
    border-radius: 50%;
    overflow: hidden;
}
.rev-t2 span{
    display: block;
    color: #0a8ed9;
    font-size: 15px;
    line-height: 19px;
    font-weight: 500;
}
.rev-block{
    color: #000;
    font-size: 15px;
    line-height: 19px;
    font-weight: 300;
}
.rev-block .s-blue{
    font-weight: 700;
    color: #0a8ed9;
}
.rev-block .s-black{
    font-weight: 700;
    color: #000;
}
.rev-block p{
    margin-bottom: 6px;
}

@media (max-width: 1199px) {

    .slick-prev {
        left: 24px;
    }
    .slick-next {
        right: 24px;
    }
    .rev-slider-item {
        padding: 50px 100px;
    }

}

@media (max-width: 1199px) {

    .slick-prev {
        left: 20px;
    }
    .slick-next {
        right: 20px;
    }
    .rev-slider-item {
        padding: 30px 70px;
    }


}



@media (max-width: 767px) {

    .otziv audio {
        max-width: 290px;
    }
    .b-5 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .b-5 .title {
        margin-bottom: 20px;
    }
    .rev-slider-item {
        padding: 10px 15px;
        border: 4px solid #eee;
    }
    .rev-t2 span {
        font-size: 13px;
        line-height: 17px;
    }
    .rev-t2 {
        font-size: 13px;
        line-height: 17px;
    }
    .rev-block {
        font-size: 13px;
        line-height: 17px;
    }
    .slick-prev, .slick-next {
        width: 15px;
        height: 27px;
        margin-top: -47px;
        top: 0;
    }
    .slick-prev {
        left: 0px;
    }
    .slick-next {
        right: 0px;
    }

}




/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~BLOCK-MAP~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.b-map{
    position: relative;
}
.map-left {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(81,81,81,0.87);
    width: 760px;
    z-index: 2;
}
.map-left-inn {
    width: 394px;
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.map-left-title {
    font-size: 46px;
    line-height: 52px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 22px;
}
.map-left-title span {
    display: block;
    font-size: 42px;
    line-height: 46px;
    font-weight: 100;
}
.map-left .btn {
    padding: 17px 0px;
}


.map-google{
    height: 746px;
}
.b-map-title{
    position: absolute;
    left:50%;
    top: 0%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: #f7f7f7;
    z-index: 3;
    padding: 40px 100px;
    white-space: nowrap;
}




@media (max-width: 1600px) {
    .map-left {
        width: 600px;
    }
}

@media (max-width: 1400px) {
    .map-left {
        width: 500px;
    }
}
@media (max-width: 991px) {

    .map-left {
        width: 394px;
    }

    .map-left-title {
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 22px;
    }
    .map-left-title span {
        font-size: 32px;
        line-height: 36px;
    }
    .map-left .btn {
        padding: 14px 0px;
        font-size: 16px;
        line-height: 20px;
    }

    .map-left-inn {
        width: 320px;
        margin: 0 auto;
    }



}


@media (max-width: 767px){
    .map-google{
        height: 300px;
    }
    .map-left {
        width: 100%;
        position: static;
        padding: 15px 0;
    }
    .map-left-inn {
        width: 290px;
        margin: 0 auto;
        position: static;
        left: 0;
        top: 0;
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
    }
    .map-left-title {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 18px;
        text-align: center;
    }
    .map-left-title span{
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }
    .map-left .btn {
        padding: 10px 0px;
        font-size: 16px;
        line-height: 20px;
    }

    .b-map-title {
        left: 50%;
        top: 317px;
        -webkit-transform: translate(-50%,0%);
        -ms-transform: translate(-50%,0%);
        transform: translate(-50%, 0%);
        padding: 10px 20px;
    }



}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~FOOTER~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

footer{
    background: url(../img/footer-bg.png) repeat-x;
    background-size: contain;
    padding: 40px 0;
}
.footer-line {
    padding: 0 132px;
    position: relative;
    display: table;
    width: 100%;
}
.footer-line:after{
    content: '';
    display: table;
    clear: both;
}

.footer-l {
    /* float: left; */
    display: table-cell;
    vertical-align: middle;
}
.footer-r {
    /* float: right; */
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    text-align: right;
}

footer .header-logo-text {
    font-size: 14.69px;
    line-height: 18px;
    padding-left: 96px;
    padding-top: 0px;
    position: relative;
}
footer .header-logo-text:before {
    content: '';
    width: 84px;
    height: 80px;
    background: url(../img/logo.png) no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: 0;
}

footer .header-logo-text span{
    display: block;
    margin-top: 10px;
}







.postav{
    border-radius: 6px;
    background: #6da4ff;
    text-align: center;
    float: left;
    margin-right: 30px;
}
.postav a{
    display: block;
    padding: 3px 7px;
}
.postav span{
    padding-top: 5px;
    display: block;
    font-size: 11px;
    line-height: 15px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.footer-r-float{
    float: right;
}

footer .header-phone{
    float: left;
}
footer .header-phone span {
    margin-bottom: 6px;
}

@media (max-width: 1199px) {

    .footer-line {
        padding: 0 0px;
    }

}

@media (max-width: 991px) {

    footer .header-logo-text {
        font-size: 13px;
        line-height: 17px;
    }
footer .header-logo-text:before {
    content: '';
    width: 64px;
    height: 60px;
    background: url(../img/logo.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 0;
}
footer .header-logo-text {
    padding-left: 73px;
}
    .postav {
        margin-right: 20px;
    }
    .postav img{
        height: 43px;
    }

}


@media (max-width: 767px) {

    .footer-line {
        padding: 0 15px;
        position: relative;
        display: block;
        width: 100%;
    }

    .footer-l {
        display: block;
    }
    .footer-r {
        display: block;
        text-align: left;
    }
    footer .header-logo {
        float: none;
        width: 254px;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .footer-r-float {
        float: none;
    }
    .postav {
        float: none;
        margin: 0px auto;
        width: 160px;
        margin-bottom: 20px;
    }
    footer .header-phone {
        float: none;
    }
footer .header-logo {
    padding-left: 0px;
    padding-top: 0px;
}


}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~MODALS~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.modal_div form {
    width: 394px;
    margin: 0 auto;
}

.fancybox-skin {
    /*background: rgba(81,81,81,0.97);*/
    background: #000;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0;
}
.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
}

.modal_div  .btn {
    padding: 17px 0px;
}
.modal_div .form-vert .form-group-last {
    margin-bottom: 0px;
}

.modal_div {
    height: auto;
    background: transparent;
    z-index: 5;
    padding: 25px;
}

#modal-thanks{
    color: #fff;
    text-align: center;
}

.feedback {display:none;}


@media (max-width: 991px) {
    .modal_div .btn {
        padding: 14px 0px;
    }
}

@media (max-width: 767px) {
    .modal_div .btn {
        padding: 11px 0px;
    }
    .modal_div {
        padding: 5px;
    }
.modal_div form {
    width: 234px;
    margin: 0 auto;
}


}



